@import "tailwindcss";

@font-face {
    font-family: "Source Sans 3";
    src: url("../assets/fonts/SourceSans/SourceSans3-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Libre Baskerville";
    src: url("../assets/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --font-source: "Source Sans 3", sans-serif;
    --font-libre: "Libre Baskerville", serif;
}